body {
    background-color:black;
}
.text-center{
    text-align:center;  
}
.center{
    
}

.grid-container {
    display: grid;
    justify-content: center;
}

/*  Box-shadow picked from https://getcssscan.com/css-box-shadow-examples */
.calculator {
    margin: auto;
    text-align: center;
    background-color: black;
    padding: 15px 10px;
    border-radius: 20px;
    border: 2px solid #0279E7;
    box-shadow: #0279E7 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.row{
    margin:8px;
}
.input-1 {
    color: dimgray;
    width: 295px;
    margin-top: 18px;
    font-size: 26px;
    color: gray;
    outline: none;
    background-color: black;
    border: 2px solid black;
    border-radius: 1px;
}
.input-2 {
    width: 295px;
    font-size: 35px;
    color:white;
    background-color:black;
    outline:none;
    border: 2px solid black;
    border-radius: 0px;
    margin-bottom:8px;
    pointer-events:none;
}


button {
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    width: 60px;
    margin: 6px 5px;
    padding: 8px 0
}
.blue-button {
    background-color: #2c41ee;
    border: 2px solid #2c41ee;
}
.blue-button:hover {
    background-color: #1c2ec8;
    border: 2px solid #1c2ec8;
}
.grey-button {
    background-color: #595c79;
    border: 2px solid #595c79;
}
.grey-button:hover{
    background-color: #3f425c;
    border: 2px solid #3f425c;
}
.black-button {
    background-color: #2E2F38;
    border: 2px solid #2E2F38;
}
.black-button:hover{
    background-color: #2a2b35;
    border: 2px solid #2a2b35;
}
.red-button {
    background-color: #a60000;
    border: 2px solid #a60000;
}
.red-button:hover {
    background-color: #900101;
    border: 2px solid #900101;
}



















/*  Media Queries*/

